* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 80vw;
  margin: 10px auto;
  height: 90vh;
}

h1 {
  max-width: 100%;
  display: block;
  margin: 30px auto;
  font-size: 30px;
  color: black;
  font-family: monospace;
  text-align: center;
}

.checkNumber {
  display: block;
  margin: 10vh auto;
  font-size: 20px;
  padding: 10px;
  background-color: white;
  border: 1px solid red;
  color: red;
}
.cleanList {
  display: block;
  margin: 5vh auto;
  font-size: 20px;
  padding: 10px;
  background-color: white;
  border: 1px solid red;
  color: red;
}
.checkNumber:hover {
  background-color: red;
  border: 1px solid red;
  color: white;
}
.cleanList:hover {
  background-color: red;
  border: 1px solid red;
  color: white;
}
.numbers {
  margin: 5vh 0 0 0;
  text-align: center;
  font-size: 30px;
  /* color: red; */
  font-family: Arial, Helvetica, sans-serif;
}
.largeSquare {
  margin: 10vh auto;
  max-width: 277px;
  min-height: 277px;
  border: 2px solid black;
}
.largeSquare div {
  display: inline-block;
  font-size: 25px;
  margin: 3px 6px;
}
.active {
  color: rgb(255, 6, 6);
  background-color: rgb(255, 255, 0);
  box-shadow: 0 0 1px 5px rgb(255, 255, 0);
  /* transition: 0.5s; */
}
.off {
  color: black;
  background-color: transparent;
}
